<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>demoplix2</title>
 

  <!-- main -->

</head>

<body>
  <!-- your content here... -->
  <h1>Login</h1>
  
  <!form action="https://micro-okta.herokuapp.com/login">
  <form action="https://micro-okta.herokuapp.com/login">
  <label for="fname">User name</label><br>
  <input type="text" id="id" name="id" ><br>
  <label for="lname">Password</label><br>
  <input type="text" id="pass" name="pass" ><br><br>
  <input type="submit" value="Submit">
  </form>
  
</body>
</html>
