<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Demoplix2</title>


</head>

<body>
  <!-- your content here... -->
  <h1>Enter OTP</h1>
  <!form action="https://micro-okta.herokuapp.com/verify-otp">
  <form action="https://micro-okta.herokuapp.com/verify-otp">
  <label for="fname">OTP</label><br>
  <input type="text" id="pin" name="pin" ><br><br>
  <input type="submit" value="Submit">
  </form>
</body>
</html>
